<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <script src="./js/script.js" defer></script>
  
    

    <title>Login</title>
  </head>
  <body>


    <div id="container">
      
      <form id="login-form" action="/login" method="POST">
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <br>
        <label for="username">Password</label>
        <input type="password" name="password" id="password"/>
        <button id="login-btn" form="login-form" type="submit">Login</button>
        <div id="error-msg">
        <% if (messages.error) {%>
          <%= messages.error%>
          <% } %>
        </div>
        <a href="/register">Not registered? Click here</a>
      </form>
      
      <div id="loader" style="display: none"><div class="lds-hourglass"></div></div>

      <div id="content">
        
      </div>

  </div>
    <section>
     
      
      </div>

    </div>

  
    
  
      </div>
    </section>

  </body>
</html>
