body, html {
    color: white;
    height: 150vh;
    background-color: rgb(38, 94, 129);
    background-image: linear-gradient(rgb(38, 94, 129), rgb(17, 46, 65));
    scroll-behavior: smooth;   
    scroll-snap-type: y proximity;    
    height: 125vh;   
    -webkit-font-smoothing: antialiased; 
    font-family: 'Poppins', sans-serif;
}

input {

    border-radius: 0.3em;
    margin: 0.3em;
    padding: 0.2em;
    border: none;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);
 
}

select {

  border-radius: 0.3em;
  margin: 0.3em;
  padding: 0.2em;
  border: none;
  box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);
  font-weight: 600;

}

button {

  border-radius: 0.3em;
  margin: 0.em;
  padding: 0.3em;
  border: none;
  font-weight: 600;
  box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);

}

#container {
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 50%;
    

}

#login-form {
    padding: 1em;
    border-radius: 0.3em;
    background-image: linear-gradient(to bottom right, rgb(6, 114, 147), rgb(36, 168, 185));
    background-color: rgb(54, 158, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

a {
    font-size: 0.8em;
    color: white;
}

a:hover {
    color:rgb(69, 81, 98)
}

#login-btn {
    margin-top: 1em;
    margin-bottom: 1em;
}

#error-msg {
    font-size: 0.7em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.99;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    margin-left: 50px;
  }


  #genrelist {
    display: none;
    font-size: 0.9em;
    margin-left: 0.7em;
  }

  .titles {
    margin-left: 3vw;
  }


  h1 {
    text-shadow: 1px 1px #000000;
  }

  h2 {
    text-shadow: 1px 1px #000000;
  }
  h4 {
    text-shadow: 1px 1px #000000;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    margin-left: 3vw;
    width: 48em;
    border-radius: 0.4em;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.5);
    overflow: hidden;

  
  
  }

  tr{
    font-size: 0.7em;
  }
  tr:nth-child(even){
    background-color: white;
    color: rgb(32, 31, 31);
  }
  tr:nth-child(odd){
    background-color:  #eff2f5;
    color: rgb(32, 31, 31);
  }

  .tableA {
    color: black
  }

  
  td, th {
   
    padding: 8px;
  }

 tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(162, 217, 212);;
    color: black;
 
  }

